
                @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                body {
                    font-family: 'Courier New', Courier, monospace;
                    font-weight: 200;
                    line-height: 1.6;
                }
                
                a,
                a:hover {
                    text-decoration: none;
                }
                
                .topbar {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px 23px;
                    background: greenyellow;
                    color: black;
                }
                
                .topbar span {
                    color: rgb(7, 8, 2);
                }
                
                .topbar ul {
                    list-style: none;
                    display: flex;
                }
                
                .topbar li {
                    margin: 0px 5px;
                }
                
                .topbar a {
                    color: #fff;
                }
                
                .topbar a:hover {
                    color: #222;
                }
                
                nav {
                    background: whitesmokes;
                    padding: 10px 25px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: fixed;
                    z-index: 3;
                }
                
                nav a {
                    color: blueviolet;
                }
                
                nav a:hover {
                    color: crimson;
                }
                
                .logo {
                    flex: 1;
                }
                
                .logo a {
                    display: flex;
                    align-items: center;
                    font-size: 1.9rem;
                }
                
                .logo a:hover {
                    color: saddlebrown;
                }
                
                .logo img {
                    width: 11.2rem;
                    height: auto;
                }
                
                .menu {
                    display: flex;
                    align-items: center;
                    list-style: none;
                }
                
                .menu li {
                    padding: 25px 10px;
                    margin-right: ;
                    font-size: 11.1px;
                }
                
                .toggle {
                    font-size: large;
                    display: none;
                    cursor: pointer;
                }
                
                @media screen and (max-width:660px) {
                    nav {
                        display: block;
                        position: relative;
                        padding: 15px 15px;
                    }
                    .menu {
                        margin-top: 15px;
                        display: none;
                    }
                    .menu .active .toggle {
                        display: block;
                    }
                    .toggle {
                        position: absolute;
                        top: 12px;
                        right: 20px;
                    }
                }
/*HOMEPAGE SLIDER ###############################################*/
.slide_container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem --0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 290ms;
}

.slider-nav a:hover {
    opacity: 1;
}


